{% macro listModels(class , modelIds) %}
    <div class="col-2">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{ class }}" aria-expanded="false" aria-controls="collapse{{ class }}">Modèles
            {{ class }}
        </button>

        <div class="collapse container-fluid" id="collapse{{ class }}">
            {% for modelId in modelIds %}
                <div class="mt-4">
                    <button type="button" class="btn btn-primary modelLoader" data-id="{{ modelId }}">Modèle {{ modelId }}</button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}





